# Enable Rewrite Engine
RewriteEngine On

# Set the base directory
RewriteBase /

# Remove index.php from URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Prevent directory listing
Options -Indexes

# Set default index file
DirectoryIndex index.php index.html

# Set the MIME type for certain file extensions
AddType application/javascript .js
AddType application/json .json
AddType application/xml .xml
AddType text/css .css
AddType text/html .html .htm
AddType text/plain .txt

# Set the character encoding
AddDefaultCharset UTF-8

# Set expiration headers for static resources
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 week"
    ExpiresByType text/html "access plus 1 day"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
</IfModule>

# Disable ETag headers
<IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</IfModule>


<!-- <Files config.php>
  Order allow,deny
  Deny from all
</Files> -->

